# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
.venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
*.egg
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.coverage
.cache

# Jupyter Notebook
.ipynb_checkpoints/

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Logs and databases
*.log
*.sqlite3
*.db

# Streamlit
.streamlit/

# Python-specific
*.env
.env
